body {
    background-color: #222226;
    color: #ffffff;
}

input {
    background-color: #333336;
    color: #ffffff;
}

.form-control, .form-control:active, .form-control:hover, .form-control:focus {
    border: 1px solid #444446;
    background-color: #333336;
    color: #ffffff;
}

.input-group-text {
    background-color: #444446;
    border: 1px solid #444446;
}

.bg-mydark {
    background-color: #333336;
}

.auth {
    min-width: 310px;
}

.icons {
    width: 80%;
}

.icons-100 {
    width: 100%;
    text-align: center;
}

.color-red {
    color: red;
}

.col-0 {
    -ms-flex: 0 0 2%;
    flex: 0 0 2%;
    max-width: 2%;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.vh-80 {
    height: 80vh;
}

.block {
    border: 1px solid #444446;
    border-radius: 5px;
    padding: 15px;
    background-color: #333336;
}

.block-3 {
    width: 30%;
}

.block-top {
    height: 40px;
}

.width-25 {
    width: 25px;
}