body {
    background-color: #222226;
    color: #ffffff;
}

input {
    background-color: #333336;
    color: #ffffff;
}

select {
    background-color: #333336;
    color: #ffffff;
}

option {
    color: #ffffff;
}

.form-control, .form-control:active, .form-control:hover, .form-control:focus {
    border: 1px solid #444446;
    background-color: #333336;
    color: #ffffff;
}

.input-group-text {
    background-color: #444446;
    border: 1px solid #444446;
}

.input-select {
    border: 1px solid #444446;
    background-color: #333336;
    color: #ffffff;
}

.custom-select, .custom-select:active, .custom-select:hover, .custom-select:focus {
    color: #ffffff;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='rgb(108, 117, 125)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    background-color: #333336;
}

.custom-option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 5px;
}

.bg-mydark {
    background-color: #333336;
}

.auth {
    min-width: 310px;
}

.icons {
    width: 80%;
}

.icons-100 {
    width: 100%;
    text-align: center;
}

.color-red {
    color: red;
}

.col-0 {
    -ms-flex: 0 0 2%;
    flex: 0 0 2%;
    max-width: 2%;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.vh-80 {
    height: 80vh;
}

.block {
    border: 1px solid #444446;
    border-radius: 5px;
    padding: 15px;
    background-color: #333336;
}

.block-big {
    min-height: 220px;
}

.block-3 {
    width: 32%;
}

.block-top {
    height: 40px;
}

.width-25 {
    width: 25px;
}

.width-23 {
    width: 23px;
}

.height-25 {
    height: 25px;
}

.search_box {
    position: relative;
}
/* Стили для плашки с результатами */
.search_result {
    position: absolute;
    width: 90%;
    top: 100%;
    left: 40px;
    /*border: 1px solid #ddd;*/
    /*background: #fff;*/
    padding: 10px;
    z-index: 9999;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.search_result table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}
.search_result td {
    padding: 5px 10px;
    vertical-align: middle;
}
.search_result-name {
    font-weight: 600;
    font-size: 16px;
}
.search_result-btn {
    width: 150px;
    text-align: right;
}
.search_result-btn a {
    border-width: 1px;
    background-color: rgb(253, 72, 54);
    display: inline-block;
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
}